#idea-detail {
	h1 + h4 {
		line-height: 1.2;
	}

	#idea {
		margin-bottom: $line-height-computed * 1.5;
		
		&.has-img #img {
			margin-top: $line-height-computed;
		}

		button {
			margin-top: $padding-base-vertical;
		}

	}

	.task .name {
		font-size: 125%;
	}
}