.activity {
	a#back {
		margin-bottom: $line-height-computed;
	}

	button.done {
		margin-left: 10px;
	}

	label.instruction {
	  font-size: 120%;
	}

	p.idea-desc {
		// font-size: 120%;
	}

	.no-marg-top {
		margin-top: 0;
	}

	.no-marg-bot {
		margin-bottom: 0;
	}

	$padding-task-panel: 65px;
	$padding-task-item: 30px;



	#overview {
		padding: 25px;

		figure {
			float: left;
			max-width: 275px;
		}

    	img {
    		/*max-height: 275px;*/
    		margin-bottom: 0;
    	}

    	.about {
    		float: left;
    		/*max-width: 500px;*/

    		h3 {
    			/*margin-top: 0;*/
    		}
    	}
    }

	.list-group {
		.list-group-item {
			padding-left: $padding-task-panel - 15px;
			padding-right: $padding-task-panel;
			padding-top: $padding-task-item;
			padding-bottom: $padding-task-item;

			h1:first-child, h2:first-child,
		    h3:first-child, h4:first-child {
		      margin-top: 0;
		    }
			
			&#idea {
				h2 {
					margin-bottom: 0;
				}

				p + p {
					padding-top: $padding-base-vertical;
				}
			}

			&:first-child {
				padding-top: $padding-task-panel - 25px;
			}

			&:last-child {
				padding-bottom: $padding-task-panel - 25px;
			}
		}

		#link {
			blockquote {
				font-size: 100%;
				margin-bottom: $padding-task-item;
				border-left: 5px solid #AFD3EB;
				border-left: 8px solid #eeeeee;

				footer {
					font-size: 100%;
					margin-top: 10px;
				}
			}

			h4 {
				margin-bottom: $line-height-computed / 4;
			}
		}

		#actions {
		padding-top: $padding-large-vertical;

			a#skip {
				padding: 12px 18px;
				font-weight: 700;
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
}

#text-link {
	.panel.input {
		/*margin-top: 10px;*/
	}
}