.activity {
	button.done {
		margin-left: 10px;
	}

	label.instruction {
	  font-size: 120%;
	}

	p.idea-desc {
		// font-size: 120%;
	}

	.no-marg-top {
		margin-top: 0;
	}

	.no-marg-bot {
		margin-bottom: 0;
	}

	blockquote {
		font-size: 100%;
	}

	.list-group {
		.list-group-item {
			&#idea {
				h2 {
					margin-bottom: 0;
				}

				p + p {
					padding-top: $padding-base-vertical;
				}
			}

			&.dark {
				background-color: $task-bg-color;

				h3 {
					color: #fff;
					font-weight: 700;
					margin-bottom: $line-height-computed;
				}
			}
		}
	}

	a#skip {
		padding: 12px 18px;
		font-weight: 700;
	}
}

#text-link {
	.panel.input {
		/*margin-top: 10px;*/
	}
}