.activity {
	button.done {
		margin-left: 10px;
	}

	label.instruction {
	  font-size: 115%;
	}

	.no-marg-top {
		margin-top: 0;
	}

	.no-marg-bot {
		margin-bottom: 0;
	}
}

#text-link {
	.panel.input {
		margin-top: 10px;
	}
}