
$footer-height: 140px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

nav {
  font-weight: 500;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: $brand-primary;
  text-transform: uppercase;
  display: table; overflow: hidden;

  /* center contents*/
  .center {
    @extend .text-center;
    /*padding: 60px 0;*/
    /*line-height: 200px;*/

    display: table-cell; vertical-align: middle;
  }
    
  a {
    color: #fff;
    padding: $navbar-padding-horizontal;
    font-weight: 700;

    &:hover {
      /*text-decoration: none;*/
    }
  }
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #000;
}

.accent {
  color: $accent-color;
}

.container {
  &.pad {
    &.top {
      padding-top: $jumbotron-padding;
    }

    &.bot {
      padding-bottom: $jumbotron-padding;
    }
  }
}

.jumbotron {
  &.bg-lt {
    background-color: white;
  } 

  &.bg-no {
    background-color: inherit;
  } 

  p {
    font-size: inherit;
    font-weight: inherit;
  }
}

.list-group {
  .list-group-item {
    &.dark {
      background-color: $task-bg-color;
      color: #fff;

      h1, h2, h3, h4 {
        color: #fff !important;
      }
    }

    h1:first-child, h2:first-child,
    h3:first-child, h4:first-child {
      margin-top: $line-height-computed / 2;
    }
  }
}

#idea.has-img {
  #text {
    float: none;
    width: 100%;
  }

  #img {
    float: none;
    width: 100%;
    padding-top: $padding-base-vertical;

    img {
      @extend .img-responsive;
      float: none;
    }
  }
}

figure {
  img {
    margin-bottom: 20px;
    
    &.shdw {
      box-shadow: $shadow-default;
    }
  }

  figcaption {
    /*font-style: italic !important;*/
    font-size: 90%;

    p {
      /*padding-top: 15px;  */
    }
    
  }
}

.btn {
  text-transform: uppercase;
  padding: 12px 18px;
  box-shadow: $shadow-default;

  + .btn {
    margin-top: $padding-large-vertical;
    margin-left: 0;
  }
}

.btn-link {
  padding: 12px 18px;
}

#feedback {
  h4 {
    margin-top: $line-height-computed/4;
  }
}

@media screen and (min-width: 768px) {

  .btn + .btn {
    margin-top: 0;
    margin-left: $padding-base-horizontal;
  }

  #idea.has-img {
    #text {
      float: left;
      width: 65%;
      margin-right: 5%;
    }

    #img {
      float: left;
      width: 30%;
      padding-top: 0;

      img {
        max-height: 250px;
        float: right;
      }
    }
  }
}

@media print {
.print-none {
    display: none !important;
  }
}