#main-menu {
	.panel {
		box-shadow: $shadow-default;

		.panel-body {
			&.lg {
				font-size: 120%;
				font-weight: 700;
			}
		}
	}

	a {
		&.btn {
			margin-bottom: $line-height-computed;
		}
	}
}